/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    height: 100%;
}

body {
    /* background-image: url("assets/img/main-back.jpg"); */
}

.full-height {
    height: 100%;
}